$desktop-width: 100%;
$desktop-height: 100%;
$desktop-configure-btn-size: 48px;
$desktop-configure-btn-bg-color: rgba(255, 255, 255, 0.7);
$desktop-configure-btn-hover-size: 50px;
$desktop-configure-btn-hover-bg-color: rgba(255, 255, 255, 0.85);

$widget-bg-color: $desktop-configure-btn-bg-color;
$widget-hover-bg-color: $desktop-configure-btn-hover-bg-color;
$widget-border-radius: 5px;
$border-color: #BBB;
$widget-header-border: 1px solid $border-color;
$widget-header-padding: 10px 5px;
$widget-icon-margin: 0 2px;
$widget-body-padding: 10px;

$modal-dialog-bg-color: rgba(0, 0, 0, 0.8);
$modal-dialog-content-bg-color: white;
$modal-dialog-content-width: 400px;
$modal-dialog-content-margin: 5% auto;
