.modal-dialog {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  background: $modal-dialog-bg-color;

  .content {
    background: $modal-dialog-content-bg-color;
    width: $modal-dialog-content-width;
    margin: $modal-dialog-content-margin;
  }
}
