@import 'globals';

.panel {
  position: absolute;
  width: $panel-shortcut-size;
  height: $panel-shortcut-size;
  background-color: $panel-bg-color;

  border: $panel-border;
  border-radius: $panel-border-radius;
  margin: 0;

  &:hover {
    background-color: $panel-hover-bg-color;
  }

  .shortcut {
    width: $panel-shortcut-size;
    height: $panel-shortcut-size;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    & > span {
      line-height: $panel-shortcut-size;
      font-size: $panel-shortcut-font-size;
      color: $panel-shortcut-color;

      &:hover {
        font-size: $panel-shortcut-hover-size;
        color: $panel-shortcut-hover-color;
      }
    }
  }
}
